:root {
    --s-color-muted: rgba(0,0,0,.5);
    --s-color-primary: #1e87f0;
    --s-color-danger: #f0506e;
    --s-color-success: #32d296;
}

h1 { font-size: 3em }
h2 { font-size: 2em }
h3 { font-size: 1.5em }
h4 { font-size: 1.2em }
h5 { font-size: 1em }
h6 { font-size: 0.875em }

h1,
h2,
h3,
h4,
h5,
h6 { 
    font-size: bolder;
    margin: .6em 0; 
}

.s-uppercase { text-transform: uppercase }
.s-underline {text-decoration: underline }

.s-muted { color: var(--s-color-muted) !important }
.s-primary { color: var(--s-color-primary) !important }
.s-danger { color: var(--s-color-danger) !important }
.s-success { color: var(--s-color-success) !important }

small, .s-small { font-size: .6em !important }
.s-large { font-size: 1.2em !important }